<!-- Enhanced Navigation Bar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" aria-label="Home">
      <span class="icon">
        <svg class="svg-inline--fa fa-home fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path fill="currentColor" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"></path>
        </svg>
      </span>
    </a>
    <button class="navbar-burger" id="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu" type="button">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>
  
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end" style="margin-left: auto;">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" aria-haspopup="true" aria-expanded="false">
          <span class="icon">
            <i class="fas fa-flask"></i>
          </span>
          <span>Related Research</span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://ast-fri.github.io/contextual-bandit-routing-of-llms/">
            <span class="icon"><i class="fas fa-route"></i></span>
            <span>Adaptive LLM Routing</span>
          </a>
          <a class="navbar-item" href="https://ast-fri.github.io/bdd_evaluation/">
            <span class="icon"><i class="fas fa-building"></i></span>
            <span>Evaluating Compound AI Systems through Behaviors, Not Benchmarks</span>
          </a>
          <a class="navbar-item" href="https://ast-fri.github.io/needles-in-images/">
            <span class="icon"><i class="fas fa-search"></i></span>
            <span>Needles-in-Images</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
